.loginDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.loginDialog:target {
    opacity:1;
    pointer-events: auto;
}
.loginDialog > div {
    width: 300px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 4px;
    overflow:hidde;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    border:solid ~#b5c6d0 4px;
}
.loginDialog div .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -8px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 1px #000;
    border:solid black 0.5px;
}
#login div .close:hover {
    background: #A4A4A4;
}
#login table{
    width:100%;
}

#login table input[type="submit"]{
    height:35px;
    width:98.8%;
    margin-bottom: 7.5px;
    border : solid 0px #ffffff;
    border-radius : 3px;
    border : solid 0px #ffffff;
    border-radius : 3px;
    moz-border-radius : 3px;
    font-size : 14px;
    color : #f9faf7;
    padding : 6px 15px;
    background : #5b8dd9;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b8dd9), color-stop(100%,#206da8));
    background : -moz-linear-gradient(top, #5b8dd9 0%, #206da8 100%);
    background : -webkit-linear-gradient(top, #5b8dd9 0%, #206da8 100%);
    background : -o-linear-gradient(top, #5b8dd9 0%, #206da8 100%);
    background : -ms-linear-gradient(top, #5b8dd9 0%, #206da8 100%);
    background : linear-gradient(top, #5b8dd9 0%, #206da8 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b8dd9', endColorstr='#206da8',GradientType=0 );

}
#login table input[type="submit"]:active{
  	background : #bfd9ff;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd9ff), color-stop(100%,#92bee0));
    background : -moz-linear-gradient(top, #bfd9ff 0%, #92bee0 100%);
    background : -webkit-linear-gradient(top, #bfd9ff 0%, #92bee0 100%);
    background : -o-linear-gradient(top, #bfd9ff 0%, #92bee0 100%);
    background : -ms-linear-gradient(top, #bfd9ff 0%, #92bee0 100%);
    background : linear-gradient(top, #bfd9ff 0%, #92bee0 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd9ff', endColorstr='#92bee0',GradientType=0 );
}
#login table input[type="text"]{
    height:35px;
    width:97.7%;
    margin-bottom: 7.5px;
}
#login table input[type="password"]{
    height:35px;
    width:97.7%;
    margin-bottom: 7.5px;
}
#login label{
   color:black;
   font-size: 13px;
}
#login #olvido_contrasena{
  float:right;
  text-align: right;
  width: 100%;
}

#cerrar_sesion{
  width:35px;
  height:35px;
  position:relative;
  top:-8px;
}
